{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    
    <!DOCTYPE html>
    
      

{% endblock head_content %}
{% block container %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card-body">
                
                <div class="typography-line">
                    <h3 class="color-typography"><span>Sector construccion Formosa -</span> salario promedio </h3>
                </div>
                <div class="typography-line">
                    
                    <blockquote>
                        <p class="blockquote blockquote-primary">
                        En el mes de marzo, el salario promedio del sector Construcción en Formosa fue de $857.153 representando un incremento nominal del 7,5% con respecto al mes anterior. Con respecto a marzo del año 2024 se observa un incremento del 83,5%. Si bien, los salarios nominales del sector se vienen incrementando de manera sostenida desde el año 2021, Los salarios reales promedio se viene deteriorando desde principios del año 2022. 
                        Para el caso particular del mes de marzo del año 2025, este incrementó un 35% con respecto al mes de marzo del año 2024.                         </p>
                    </blockquote>
                        <div class="toolbar">
                            <button onclick="showView('chart')" class="active">📈</button>
                            <button onclick="showView('stats')">📊</button>
                            <button onclick="showView('table')">📋</button>
                           
                        </div>
                        <form method= "GET" action="{% url 'salario-construccion' %} ">
                            {% csrf_token %}
                            <div class ="content-error">
                                
                                 
                                {% if error_message %}
                                   <div class="alert alert-dark" role="alert">
                                     {{error_message}}
                                    </div>
                                {%endif%}
                            </div>
                        
                            <div class="filtros-contenedor">
                                <div class="filtro-anios">
                                    <label>Años:</label>
                                    <div class="anio_inicio">
                                        <select name="anio_inicio">
                                            <option value="">Desde</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                        <span>—</span>
                                        <select name="anio_fin">
                                            <option value="">Hasta</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            
                                



                            
                                <button type="submit">Aplicar filtros</button>
                            </div>     
                        </form>
                        <div id="chartView" class="view active">
                            <div class="chart-style" id="chart-salario"></div>
                        </div>

                        <div id="tableView" class="view">
                          <table id="example" class="stripe row-border order-column" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Mes</th>
                                        <th>Año</th>
                                        <th>Valor</th>
                                        <th>Total empresas</th>
                                       
                                        <th>Salario promedio</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in data_variacion %}
                                    <tr>
                                        <td>{{ data.mes__mes }}</td>
                                        <td>{{ data.anio__anio }}</td>
                                        <td>{{ data.valor__valor }}</td>
                                        <td>{{ data.total_empresas }}</td>
                                       
                                        <td>{{ data.salario_promedio }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="5">No hay datos disponibles.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id="statsView" class="view">
                                   <!-- Botón para alternar los gráficos -->
                          <button id="btn-nacional" onclick="mostrarChartNacional()" style="margin-bottom: 15px; display:block">
                              Comprar con valor nacional
                          </button>
                          <button id="btn-formosa" onclick="mostrarChartFormosa()" style="margin-bottom: 15px; display:none">
                              Ver gráfico formosa
                          </button>
                          <div id="contenedor-chart" class="d-flex" style="gap: 10px;">
                          <div id="container-formosa" class="flex-fill transition-slide slide-visible">
                            <div id="chart-formosa" style="height: 350px;"></div>
                          </div>
                          <div id="container-nacional" class="transition-slide slide-hidden invisible" style="width: 50%; height: 350px;">
                            <div id="chart-nacional" style="height: 100%;"></div>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
   
  const datos = {{ salario_promedio_diccionario|safe }};

  area_chart_variation(
    'chart-salario',
    datos,
    'Variación mensual e interanual'
  );

  const data_chart_formosa = {{ data_chart_formosa|safe }};
  column_chart_comparative('chart-formosa', data_chart_formosa, 'Ventas totales:Formosa');

  const data_chart_nacional = {{ data_chart_nacional|safe }};
  column_chart_comparative('chart-nacional', data_chart_nacional, 'Ventas totales: Nacional');



</script>




{% endblock container %}




