{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    
    <!DOCTYPE html>
    
      

{% endblock head_content %}
{% block container %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card-body">
                
                <div class="typography-line">
                    <h3 class="color-typography"><span>Índice precios al consumidor (IPC)</h3>
                </div>
                <div class="typography-line">
                    
                    <blockquote>
                        <p class="blockquote blockquote-primary">
                        La inflación mensual para la Región NEA, tuvo un incremento del 2,7% en el mes de abril de 2025, respecto al mes de marzo de 2025. 
                        A su vez, la inflación anual arroja un valor de 45% de incremento en abril, frente al mismo mes del año 2024.
                        <br>
                        Durante el mes de abril de 2025, la inflación mensual a nivel país tuvo un incremento de un 2,8%. Al realizar la comparativa, se observa que desde el mes de noviembre de 2022, hasta enero del año 2023, el IPC NEA se mantuvo por debajo del IPC a nivel país. En el mes de febrero se revierte la tendencia, pasando a ser más elevado el IPC NEA frente al IPC país y desde el mes de marzo en hasta enero, si bien los valores son similares, la tendencia es fluctuante, en los últimos dos meses el IPC NEA fue mayor al IPC país . 
                        Para el mes de abril de 2025, la variación del IPC NEA es menor al IPC nacional, asumiendo el valor de 2,7%
                        </p>
                    </blockquote>
                        <div class="toolbar">
                            <button onclick="showView('chart')" class="active">📈 NEA / PAIS</button>
                            
                            <button onclick="showView('table')">📋</button>
                           
                        </div>
                        <form method= "GET" action="{% url 'ipc' %} ">
                            {% csrf_token %}
                            <div class ="content-error">
                                
                                {% if error_message %}
                                    {{error_message}}
                                {%endif%}
                            </div>
                        
                            <div class="filtros-contenedor">
                                <div class="filtro-anios">
                                    <label>Años:</label>
                                    <div class="anio_inicio">
                                        <select name="anio_inicio">
                                            <option value="">Desde</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                        <span>—</span>
                                        <select name="anio_fin">
                                            <option value="">Hasta</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            
                                
                                <button type="submit">Aplicar filtros</button>
                            </div>     
                        </form>
                        <div id="chartView" class="view active">
                            <div class="chart-style" id="chart-ipc-nea"></div>
                        </div>

                        <div id="tableView" class="view">
                          <table id="example" class="stripe row-border order-column" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Mes</th>
                                        <th>Año</th>
                                        <th>Valor</th>
                                        <th>Intermensual</th>
                                        <th>Interanual</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in data_variacion %}
                                    <tr>
                                        <td>{{ data.mes__mes }}</td>
                                        <td>{{ data.anio__anio }}</td>
                                        <td>{{ data.valor__valor }}</td>
                                        <td>{{ data.variacion_intermensual }}</td>
                                        <td>{{ data.variacion_interanual }}</td>
                                        
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="5">No hay datos disponibles.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id="statsView" class="view">
                            <div class="chart-style" id="chart-ipc-pais"></div>
                            
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
       
 const datos = {{ diccionario_variacion|safe }};

  area_chart_variation(
    'chart-ipc-nea',
    datos,
    'Variación mensual e interanual NEA/PAIS'
  );

 
</script>
{% endblock container %}