{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<!DOCTYPE html>
{% endblock head_content %}
{% block container %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">

                <div class="typography-line">
                    <h3 class="color-typography"><span>Sector Pecuario -</span> Bovinos</h3>
                </div>

                <div class="typography-line">
                    <blockquote class="position-relative">
                        <p class="blockquote blockquote-primary">
                            {{ descripcion_modelo.descripcion|linebreaksbr|safe }}
                            {% if descripcion_modelo.fecha_actualizacion %}
                            <br>
                            <span class="text-start text-muted small mt-2">
                                Actualizado: {{ descripcion_modelo.fecha_actualizacion|date:"d/m/Y" }}
                            </span>
                            {% endif %}
                        </p>
                    </blockquote>

                    <div class="toolbar">
                        <button onclick="showView('faena')" class="active">FAENA</button>
                        <button onclick="showView('stock')">STOCK</button>
                        <button onclick="showView('table')">📋</button>
                    </div>

                    <form method="GET" action="{% url 'bovinos' %}">
                        {% csrf_token %}
                        <div class="content-error">
                            {% if error_message %}
                            <div class="alert alert-dark" role="alert">{{ error_message }}</div>
                            {% endif %}
                        </div>
                        <div class="filtros-contenedor">
                            <div class="filtro-anios">
                                <label>Años:</label>
                                <div class="anio_inicio">
                                    <select name="anio_inicio">
                                        <option value="">Desde</option>
                                        {% for a in anios %}
                                        <option value="{{ a.id }}">{{ a.anio }}</option>
                                        {% endfor %}
                                    </select>
                                    <span>—</span>
                                    <select name="anio_fin">
                                        <option value="">Hasta</option>
                                        {% for a in anios %}
                                        <option value="{{ a.id }}">{{ a.anio }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit">Aplicar filtros</button>
                        </div>
                    </form>

                    <!-- FAENA -->
                    <div id="faenaView" class="view active">
                        <div class="chart-style" id="chart-faena"></div>
                    </div>

                    <!-- STOCK -->
                    <div id="stockView" class="view">
                        <div class="chart-style" id="chart-stock"></div>
                    </div>

                    <div id="tableView" class="view">
                        <h5 style="font-size: 15px;color: font-weight: 900;font-weight: bold; color:black;  margin-bottom: 1rem;">STOCK (cabezas)</h5>
                        <table id="example" class="stripe row-border order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Tipo de ganado</th>
                                    <th>Stock</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data_stock %}
                                <tr>
                                    <td>{{ d.mes__mes }}</td>
                                    <td>{{ d.anio__anio }}</td>
                                    <td>{{ d.tipo_ganado__tipo_ganado }}</td>
                                    <td>{{ d.stock }}</td>
                                    
                                </tr>
                                {% empty %}
                                <tr><td colspan="5">No hay datos disponibles.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <h5 style="font-size: 15px; font-weight: 900;color: font-weight: bold; color:black; margin-top: 2rem; margin-bottom: 1rem;">FAENA (cabezas)</h5>
                        <table id="example2" class="stripe row-border order-column" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Tipo de ganado</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in data_faena %}
                                <tr>
                                   <td>{{ d.mes__mes }}</td>
                                    <td>{{ d.anio__anio }}</td>
                                    <td>{{ d.tipo_ganado__tipo_ganado }}</td>
                                    <td>{{ d.cabezas }}</td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="4">No hay datos disponibles.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        

                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const datos_faena = {{ chart_faena|safe }};
    area_chart_variation('chart-faena', datos_faena, 'Faena bovina (cabezas)', '');

    const datos_stock = {{ chart_stock|safe }};
    area_chart_variation('chart-stock', datos_stock, 'Stock bovino (cabezas)', '');
</script>
{% endblock container %}
