{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    
    <!DOCTYPE html>
    
      

{% endblock head_content %}
{% block container %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card-body">
                
                <div class="typography-line">
                    <h3 class="color-typography"><span>Supermercado -</span> precio corriente </h3>
                </div>
                <div class="typography-line">
                    
                    <blockquote>
                        <p class="blockquote blockquote-primary">
                            Las ventas totales en supermercados de Formosa, superaron los $9.619 millones en el mes de marzo de 2025(en febrero fueron $8.442 millones). 
                            Estas aumentaron 13,9%, con respecto al mes de febrero, por otro lado se incrementaron un 36,6% con respecto al mes de marzo del año 2025.

                        </p>
                    </blockquote>
                        <div class="toolbar">
                            <button onclick="showView('chart')" class="active">📈</button>
                            <button onclick="showView('stats')">📊</button>
                            <button onclick="showView('table')">📋</button>
                           
                        </div>
                        <form method= "GET" action="{% url 'precio-corriente' %} ">
                            {% csrf_token %}
                            <div class ="content-error">
                                
                                {% if error_message %}
                                    {{error_message}}
                                {%endif%}
                            </div>
                        
                            <div class="filtros-contenedor">
                                <div class="filtro-anios">
                                    <label>Años:</label>
                                    <div class="anio_inicio">
                                        <select name="anio_inicio">
                                            <option value="">Desde</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                        <span>—</span>
                                        <select name="anio_fin">
                                            <option value="">Hasta</option>
                                            <option value="2">2020</option>
                                            <option value="3">2021</option>
                                            <option value="4">2022</option>
                                            <option value="5">2023</option>
                                            <option value="6">2024</option>
                                            <option value="7">2025</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            
                                <div class="filtro-categoria">
                                    <label for="categoria">Valor:</label>
                                    <select id="valor" name="valor">
                                        <option value="">Todas</option>
                                        <option value="1">Formosa</option>
                                        <option value="2">NEA</option>
                                    
                                    </select>
                                </div>
                            
                                <button type="submit">Aplicar filtros</button>
                            </div>     
                        </form>
                        <div id="chartView" class="view active">
                            <div class="chart-style" id="chart-corriente"></div>
                        </div>

                        <div id="tableView" class="view">
                          <table id="example" class="stripe row-border order-column" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Mes</th>
                                        <th>Año</th>
                                        <th>Valor</th>
                                        <th>Intermensual</th>
                                        <th>Interanual</th>
                                        <th>Venta total</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in data_variacion %}
                                    <tr>
                                        <td>{{ data.mes__mes }}</td>
                                        <td>{{ data.anio__anio }}</td>
                                        <td>{{ data.valor__valor }}</td>
                                        <td>{{ data.variacion_intermensual }}</td>
                                        <td>{{ data.variacion_interanual }}</td>
                                        <td>{{ data.venta_total }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="5">No hay datos disponibles.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div id="statsView" class="view">
                            <div class="chart-style" id="chart-comparative"></div>
                            <div class="chart-style" id="chart-basic"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script>
   
   
    function data_variacion_corriente(){
        data_intermensual = []
        data_interanual = []
        data_total = []
        meses = []
        anio = ' '
        valor = ' '
        type = 0
        const divComparative = document.getElementById("chart-comparative");
        const divBasic = document.getElementById("chart-basic");
        data_chart = {}

        {% if type_graphic != 0 %}
        type = 1;
        divComparative.style.display = "block";
        divBasic.style.display = "none";
      
       
        {% for anio, ventas in context_chart.items %}
        data_chart['{{ anio }}'] = [
            {% for venta in ventas %}
                {% if venta == None %}
                    0
                {% else %}
                    {{ venta }}
                {% endif %}
                {% if not forloop.last %},{% endif %}
            {% endfor %}

        ];
        {% endfor %}
        
        {% endif %}
       

        {% for data in data_variacion %}
            data_intermensual.push({{ data.variacion_intermensual }});
            data_interanual.push({{ data.variacion_interanual }});
            meses.push('{{data.mes__mes}}' + " " + {{data.anio__anio}});
            
            anio = {{data.anio__anio}};
            valor = '{{data.valor__valor}}'
            {% if type_graphic == 0 %}
                divBasic.style.display = "block";
                divComparative.style.display = "none";
      
                {% if data.venta_total == None %}
                    data_total.push('Sin datos')
                {% else %}
                    data_total.push({{data.venta_total}})
                {% endif %}
                
            {% endif %}
        {% endfor %}
        
        return [data_intermensual,
                data_interanual,
                meses,
                anio,
                valor,
                type,
                data_chart,
                data_total]
    }
    
    
    data_graficos_supermercado()
    
    // Inicializa la vista del gráfico al cargar la página
    document.addEventListener("DOMContentLoaded", function() {
        showView('chart');
    });
</script>
{% endblock container %}