
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %} 
{% block head_content %}

  

<!DOCTYPE html>

{% endblock head_content %}
{% block container %}


<body>
  
  <main>
     <h1 class="title-bcra">Datos actualizados de BCRA</h1>
     <section class="seccion-bcra">
        <div class=" py-3 cards-api-container">
  
          {% for descripcion, info in data_combinada.items %}
          <div class="card-api" onclick="goToVariable('{{ info.idVariable }}', '{{ descripcion }}')">
            <h1>{{ descripcion }}</h1>

            {% for fecha, valor in info.data %}
              <h1 class="title-value-api">{{ valor|intcomma }}</h1>
              <h1 class="date-value-api">act: {{ fecha }}</h1>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </section>


    </section>


    <section class="secciones">
      {% for categoria_nombre, categoria_datos in data_json.items %}
    <div class="caja">
        <h4><img style="width: 32px; margin-right: 5px;"src="{{ categoria_datos.icon }}"> {{ categoria_nombre }}</h4>

        <div class="container-data">
            {% for tipo_nombre, tipo_datos in categoria_datos.items %}
            {% if tipo_nombre != "icon" %}
                <div class="data">
                    <a href="{% url tipo_datos.link %}">
                        <button class="title-data">{{ tipo_nombre }}</button>
                    </a>

                    <div class="tarjeta">
                        <p>{{ tipo_datos.title_one }} </p>
                        <p class="valor">{{ tipo_datos.valor_intermensual }} %</p>
                        <small>Act. {{ tipo_datos.fecha_actualizacion | date:"M d, Y" }}</small>
                    </div>

                    <div class="tarjeta">
                        <p>{{ tipo_datos.title_two }}</p>
                        <p class="valor">{{ tipo_datos.valor_interanual }} %</p>
                        <small>Act. {{ tipo_datos.fecha_actualizacion | date:"M d, Y" }}</small>
                    </div>
                </div>
            {% endif %}
{% endfor %}

        </div>
    </div>
    {% endfor %} {# Fin del bucle externo (para categorías) #}

<script>
  function goToVariable(id, descripcion) {
    window.location.href = "/prueba/"+id +"/"+descripcion+"/";
  }
</script>
      
      
    </section>
  
  </main>
 
</body>
</html>

  
{% endblock container %}

