
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

  

<!DOCTYPE html>

{% endblock head_content %}
{% block container %}


  
  

<div class="titulo-general">
  <h2 style="color: #ffff;">Datos BCRA</h2>
</div>
<div class=" py-3 cards-api-container">
  
  {% for descripcion, pares in data_combinada.items %}
    <div class="card-api">
      <h5>{{ descripcion }}</h5>
      
        {% for fecha, valor in pares %}
          <h5>Ultima actualizacion: {{ fecha }}</h5> 
          <h5>Valor: {{ valor }}</h5> 
        {% endfor %}
    
    </div>
  {% endfor %}
</div>

<div class="container-var py-3 d-flex justify-content-center gap-5 ">
  

  
  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Supermercado - precio corriente</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Supermercado - precio constante</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container-var py-3 d-flex justify-content-center gap-5 ">

  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Patentamiento - auto</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Transferencias - auto</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-var py-3 d-flex justify-content-center gap-5 ">

  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Patentamiento - moto</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body  card-color">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Transferencias - moto</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-var py-3 d-flex justify-content-center gap-5 ">

  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Sector construccion - salario</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Sector construccion - puestos de trabajo</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-var py-3 d-flex justify-content-center gap-5 ">

  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Indice precio al consumidor</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Sector privado - evolucion empleo</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-var py-3 d-flex justify-content-center gap-5 ">

  <!-- Sección 1 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Recaudacion tributaria total - ATP</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body card-color ">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="seccion seccion-card" >
    <div class="text-left mb-4">
      <h4 class=" title-card">Transferencias por coparticipacion, leyes complementarias y compensaciones</h4>
      <hr class="mx-auto" >
    </div>

    <div class="context d-flex justify-content-center gap-3">
      <div class="card card-body-style" >
        <div class="card-body  card-color">
          <h5 class="card-title">Var interanual</h5>
          <p class="card-text">********</p>
        </div>
      </div>

      <div class="card card-body-style " >
        <div class="card-body card-color">
          <h5 class="card-title">Var intermensual</h5>
          <p class="card-text">********</p>
        </div>
      </div>
    </div>
  </div>

</div>

  
{% endblock container %}

