<header id="header" class="header d-flex align-items-left sticky-top">
  <div class="container position-relative d-flex align-items-left">

    <a href="#" class="logo ">
     
      <h1 >Observatorio Economico</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'index' %}" class="active">Panel</a></li>
        <li class="dropdown"><a href="#"><span>Supermercado</span> </a>
          <ul>
            <li><a href="{% url 'precio-corriente' %}">Precio corriente</a></li>
            <li><a href="testimonials.html">Precio constante</a></li>
            
          </ul>
        </li>
        <li class="dropdown"><a href="about.html"><span>Auto</span> </a>
          <ul>
            <li><a href="team.html">Patentamiento</a></li>
            <li><a href="testimonials.html">Transferencia</a></li>
            
          </ul>
        </li>
        <li class="dropdown"><a href="about.html"><span>Moto</span> </a>
          <ul>
            <li><a href="team.html">Patentamiento</a></li>
            <li><a href="testimonials.html">Transferencia</a></li>
            
          </ul>
        </li>
        <li class="dropdown"><a href="about.html"><span>Contsruccion</span> </a>
          <ul>
            <li><a href="team.html">Salario</a></li>
            <li><a href="testimonials.html">Puesto trabajo</a></li>
            <li><a href="testimonials.html">Puesto trabajo</a></li>
            <li><a href="testimonials.html">Evolucion trabajo</a></li>
            <li><a href="testimonials.html">Empresas</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="about.html"><span>Sector privado</span> </a>
          <ul>
            <li><a href="team.html">Evolucion empleo</a></li>
            <li><a href="testimonials.html">Trabajadores</a></li>
            
          </ul>
        </li>
        <li><a href="#">ATP</a></li>
        <li><a href="#">Transferencias</a></li>
        <li><a href="#">IPC</a></li>
       
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    
  </div>
</header>