<header>
    <div class="logo">
      <a href="{% url 'index' %}"><h1>OBSERVATORIO<br><span>ECONÓMICO</span></h1></a>
    </div>
    <nav>
      <ul>
        <li class="menu-item"><a href="#">Supermercado</a>
          <ul class="submenu">
            <li><a href="{% url 'precio-corriente' %}">Precios corriente</a></li>
            <li><a href="{% url 'precio-constante' %}">Precios constante</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">Auto</a>
          <ul class="submenu">
             <li><a href="{% url 'patentamiento-auto' %}">Patentamiento</a></li>
            <li><a href="{% url 'transferencia-auto' %}">Transferencia</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">Moto</a>
          <ul class="submenu">
            <li><a href="{% url 'patentamiento-moto' %}">Patentamiento</a></li>
            <li><a href="{% url 'transferencia-moto' %}">Transferencia</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">IPC</a>
          <ul class="submenu">
            <li><a href="{% url 'ipc' %}">Precio consumidor</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">Transferencias</a>
          <ul class="submenu">
            <li><a href="{% url 'transferencias' %}">Transferencias</a></li>
           
          </ul>
        </li>
        <li class="menu-item"><a href="#">Construccion</a>
          <ul class="submenu">
            <li><a href="{% url 'salario-construccion' %}">Salario</a></li>
            <li><a href="{% url 'puestos-construccion' %}">Puesto de trabajo</a></li>
           
          </ul>
        </li>
        <li class="menu-item"><a href="#">Sector privado</a>
          <ul class="submenu">
            <li><a href="#">Evolucion empleo</a></li>
            <li><a href="#">Trabajadores</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">ATP</a>
          <ul class="submenu">
            <li><a href="#">Recaudacion</a></li>
            
          </ul>
        </li>
        
        
      </ul>
    </nav>
</header>