{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    
    <!DOCTYPE html>
    
      

{% endblock head_content %}
{% block container %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            
            <div class="card-body">
                
                <div class="typography-line">
                    <h3 class="color-typography"><span>Sector privado -</span> Trabajadores por rama de actividad </h3>
                </div>
                <div class="typography-line">
                    
                   <blockquote class="position-relative">
                        <p class="blockquote blockquote-primary">
                            {{ descripcion_modelo.descripcion|linebreaksbr|safe }}

                            {% if descripcion_modelo.fecha_actualizacion %}
                            <br>
                            <span class="text-start text-muted small mt-2">
                                Actualizado: {{ descripcion_modelo.fecha_actualizacion|date:"d/m/Y " }}
                            </span>
                        {% endif %}
                        </p>


                </blockquote>
                        <div class="toolbar">
                            <button onclick="showView('chart')" class="active">📈</button>
                            {% comment %} <button onclick="showView('stats')">📊</button> {% endcomment %}
                            <button onclick="showView('table')">📋</button>
                           
                        </div>
                        <form method= "GET" action="{% url 'sector-privado-ramas' %} ">
                            {% csrf_token %}
                            <div class ="content-error">
                                
                                {% if error_message %}
                                    {{error_message}}
                                {%endif%}
                            </div>
                        
                            <div class="filtros-contenedor">
                                <div class="filtro-anios">
                                    <label>Años:</label>
                                    <div class="anio_inicio">
                                        <select name="anio_inicio">
                                            <option value="">Desde</option>
                                            {% for a in anios %}
                                                <option value="{{ a.id }}">{{ a.anio }}</option>
                                            {% endfor %}
                                            </select>

                                            <span>—</span>

                                            <select name="anio_fin">
                                            <option value="">Hasta</option>
                                            {% for a in anios %}
                                                <option value="{{ a.id }}">{{ a.anio }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="filtro-anios">
                                    <label>Trimestres:</label>
                                    <div class="trimestre_inicio">
                                        <select name="trimestre_inicio">
                                            <option value="">Desde</option>
                                            <option value="1">Primer trimestre</option>
                                            <option value="2">Segundo trimestre</option>
                                            <option value="3">Tercer trimestre</option>
                                            <option value="4">Cuarto trimestre</option>
                                            
                                            
                                        </select>
                                        <span>—</span>
                                        <select name="trimestre_fin">
                                            <option value="">Hasta</option>
                                            <option value="1">Primer trimestre</option>
                                            <option value="2">Segundo trimestre</option>
                                            <option value="3">Tercer trimestre</option>
                                            <option value="4">Cuarto trimestre</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            
                                


                            
                                <button type="submit">Aplicar filtros</button>
                            </div>     
                        </form>
                        <div id="chartView" class="view active">
                            <div id="backButton" style="display: none; margin-bottom: 10px;">
                              <button onclick="volverAGraficoPrincipal()">← Volver al gráfico principal</button>
                            </div>

                            <div class="chart-style" id="chart-ramas"></div>
                        </div>

                        <div id="tableView" class="view">
                          <table id="example" class="stripe row-border order-column" style="width:100%">
                                <thead>
                                    <tr>
                                        
                                        <th>Año</th>
                                        <th>Trimestre</th>
                                        <th>Rama</th>
                                        <th>Cantidad</th>
                                        
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in data_variacion %}
                                    <tr>
                                    
                                        <td>{{ data.anio__anio }}</td>
                                        <td>{{ data.trimestre__trimestre }}</td>
                                        <td>{{ data.rama__rama }}</td>
                                        <td>{{ data.cantidad }}</td>
                                        
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="5">No hay datos disponibles.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="statsView" class="view">
                      
                            <div class="chart-style" id="chart-basic"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    
const chartData = JSON.parse('{{ chart_data_json|escapejs }}');
chart_dynamic_column_chart_comparative(chartData)
    
    // Inicializa la vista del gráfico al cargar la página
    document.addEventListener("DOMContentLoaded", function() {
        showView('chart');
    });

function volverAGraficoPrincipal(){
    window.location.reload();
}
</script>






{% endblock container %}




